@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply text-xxxl font-medium tracking-wide;
  }

  h2 {
    @apply text-xxl font-medium;
  }

  h3 {
    @apply text-lg font-medium;
  }
}

:root {
  --clr-primary: #fffbf5;
  --clr-secondary: #383737;
  --clr-secondary-light: #545353;

  --header-height: 85px;

  --swiper-pagination-bottom: 0px;
}

html {
  font-family: "BrandonGrotesque", sans-serif;
  background-color: var(--clr-primary);
  color: var(--clr-secondary);
  scroll-padding-top: var(--header-height);
}

main {
  padding-top: var(--header-height);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Futura", sans-serif;
}

p,
span {
  color: var(--clr-secondary-light);
}

.hero-min-h {
  min-height: calc(100vh - var(--header-height));
}

.filler-leaf {
  position: relative;
  /* scroll-margin-top: 106px; */
  background: url("/images/mobile/leaf--to-left-big.webp") left -15vw bottom 0 no-repeat;
  background-size: cover;
}

.testimonial-swiper .swiper-pagination-bullet {
  background: var(--clr-secondary);
  opacity: 0.4;
}

.testimonial-swiper .swiper-pagination-bullet-active {
  opacity: 1;
}
